header {
  background-color: rgba(204, 58, 0, 0.836); }

main {
  background-color: #eeee5d; }

footer {
  background-color: #6f66ee;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

body {
  text-transform: uppercase; }

ul {
  padding: 0;
  margin: 0; }
